<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login | Carnaval Fever</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="login-wrapper">
    <div class="card login-box">

        <div style="text-align:center; margin-bottom:20px;">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
        </div>

        <h2>Iniciar sesión</h2>

        {% if error %}
            <p style="color:#ff4b4b;">Usuario o contraseña incorrectos</p>
        {% endif %}

        <form method="post">
            <input name="usuario" placeholder="Usuario" required>
            <input name="password" type="password" placeholder="Contraseña" required>
            <button>Ingresar</button>
        </form>

    </div>
</div>

</body>
</html>
