{% extends "base.html" %}
{% block content %}

<button class="btn-secondary btn-back" onclick="location.href='/'">
    Volver al dashboard
</button>

<div class="card">
    <h2>Crear usuario</h2>

    <form method="post" action="/crear_usuario">
        <input name="nombre" placeholder="Nombre completo" required>
        <input name="usuario" placeholder="Usuario" required>
        <input name="password" placeholder="Contraseña" required>
        <input name="celular" placeholder="Celular">
        <input name="cargo" placeholder="Cargo" required>

        <select name="rol" class="select-rol">
            <option value="staff">Staff</option>
            <option value="admin">Admin</option>
        </select>

        <br><br>
        <button>Crear usuario</button>
    </form>
</div>

<div class="card">
    <h2>Usuarios registrados</h2>

    {% for u in usuarios %}
    <div class="persona-card">

        <div class="persona-info">
            <div>
                <span>Nombre</span>
                {{ u[1] }}
            </div>

            <div>
                <span>Usuario</span>
                {{ u[2] }}
            </div>

            <div>
                <span>Celular</span>
                {{ u[3] }}
            </div>

            <div>
                <span>Rol</span>
                {{ u[4] }}
            </div>

            <div>
                <span>Cargo</span>
                {{ u[5] }}
            </div>
        </div>

        <div class="persona-actions">

            <a href="/editar_usuario/{{ u[0] }}">
                <button type="button">Editar</button>
            </a>

            <form method="post" action="/reset_password/{{ u[0] }}">
                <input name="password" placeholder="Nueva clave" required>
                <button type="submit">Reset</button>
            </form>

            {% if session.id != u[0] %}
            <form method="post"
                  action="/eliminar_usuario/{{ u[0] }}"
                  onsubmit="return confirm('¿Eliminar este usuario?');">
                <button type="submit" class="btn-danger">Eliminar</button>
            </form>
            {% endif %}

        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}
